body {
    background-image: linear-gradient(to bottom right, #1E3161, #181818);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: azure !important;
}
.testimonial-group>.row {
    overflow-x: auto;
    white-space: nowrap;
}

.testimonial-group>.row>.col-lg-3 {
    display: inline-block;
    float: none;
}

.scrollbar {
    background-color: #F5F5F5;
    float: left;
    height: 300px;
    margin-bottom: 25px;
    margin-left: 22px;
    margin-top: 40px;
    width: 65px;
    overflow-y: hidden;
}

::-webkit-scrollbar {
    width: 10px;
    height: 8px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.76);
    box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.76);
}

::-webkit-scrollbar-thumb {
    border-radius: 12px;
    -webkit-box-shadow: inset 0 0 6px rgba(26, 26, 26, 0.815);
    box-shadow: inset 0 0 6px rgba(26, 26, 26, 0.815);
}

#ex1Slider .slider-selection {
    background: #BABABA;
}